$primary-color: #1890ff;
$success-color: #198754;
$danger-color: #dc3545;
$grey-color: #ccc;
$container-padding: 0 80px;
$header-bg: #1890ff;
$header-height: 60px;
$header-color: #fff;
$breadcrumb-height: 50px;
$menu-width: 240px;
$menu-bg: #fefefe;
$text-primary-color: #fff;
$text-success-color: #fff;
$text-danger-color: #fff;

$admin-header-bg: transparent;
$admin-header-color: #333;